git
build-essential
g++
vim
make
cmake
python2.7
python-pip
python3
python3-pip
zsh
tmux
fcitx
fcitx-mozc
mozc-utils-gui 
fcitx-config-gtk
language-pack-ja-base
language-pack-ja
net-tools
clang-format
clang-6.0 
clang-tools-6.0
silversearcher-ag
tig
xsel
